/* Base16 Oceanic Next
Scheme: Dmitri Voronianski (http://pixelhunter.me) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #1B2B34; color: #C0C5CE }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #343D46; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #1B2B34; }
pre.sourceCode { background-color: #1B2B34; line-height: 125% }
td.nums pre { background-color: #343D46; line-height: 125% }
code.sourceCode span.kw { color: #6699CC; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #C594C5} /* Keyword.Type */
code.sourceCode span.dv { color: #F99157 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #F99157 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #F99157 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #99C794} /* Literal.String.Char */
code.sourceCode span.st { color: #99C794 } /* Literal.String */
code.sourceCode span.co { color: #65737E } /* Comment */
code.sourceCode span.ot { color: #AB7967 } /* Comment.Preproc */
code.sourceCode span.al { color: #C594C5 } /* Generic.Error */
code.sourceCode span.fu { color: #FAC863 } /* Name.Function */
code.sourceCode span.re { color: #5FB3B3}
code.sourceCode span.er { color: #EC5f67; border: 1px solid #C594C5 } /* Error */
