/**
 * Base16 Oceanic Next Light
 *
 * @author Dmitri Voronianski (http://pixelhunter.me)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #D8DEE9;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #1B2B34;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #A7ADBA;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #EC5f67; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #F99157; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #FAC863; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #99C794; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #6699CC; /* blue */
}

pre .keyword, pre .storage {
    color: #C594C5; /* purple */
}
