/*

    Name:       Base16 Oceanic Next Light
    Author:     Dmitri Voronianski (http://pixelhunter.me)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-oceanicnext-light.CodeMirror {background: #D8DEE9; color: #343D46;}
.cm-s-base16-oceanicnext-light div.CodeMirror-selected {background: #CDD3DE !important;}
.cm-s-base16-oceanicnext-light .CodeMirror-gutters {background: #D8DEE9; border-right: 0px;}
.cm-s-base16-oceanicnext-light .CodeMirror-linenumber {color: #A7ADBA;}
.cm-s-base16-oceanicnext-light .CodeMirror-cursor {border-left: 1px solid #65737E !important;}

.cm-s-base16-oceanicnext-light span.cm-comment {color: #AB7967;}
.cm-s-base16-oceanicnext-light span.cm-atom {color: #C594C5;}
.cm-s-base16-oceanicnext-light span.cm-number {color: #C594C5;}

.cm-s-base16-oceanicnext-light span.cm-property, .cm-s-base16-oceanicnext-light span.cm-attribute {color: #99C794;}
.cm-s-base16-oceanicnext-light span.cm-keyword {color: #EC5f67;}
.cm-s-base16-oceanicnext-light span.cm-string {color: #FAC863;}

.cm-s-base16-oceanicnext-light span.cm-variable {color: #99C794;}
.cm-s-base16-oceanicnext-light span.cm-variable-2 {color: #6699CC;}
.cm-s-base16-oceanicnext-light span.cm-def {color: #F99157;}
.cm-s-base16-oceanicnext-light span.cm-error {background: #EC5f67; color: #65737E;}
.cm-s-base16-oceanicnext-light span.cm-bracket {color: #343D46;}
.cm-s-base16-oceanicnext-light span.cm-tag {color: #EC5f67;}
.cm-s-base16-oceanicnext-light span.cm-link {color: #C594C5;}

.cm-s-base16-oceanicnext-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
