[global_config]
  title_transmit_bg_color = "#EC5f67"
  title_inactive_bg_color = "#65737E"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1B2B34:#EC5f67:#99C794:#FAC863:#6699CC:#C594C5:#5FB3B3:#C0C5CE:#65737E:#EC5f67:#99C794:#FAC863:#6699CC:#C594C5:#5FB3B3:#D8DEE9"
    foreground_color = "#4F5B66"
    background_color = "#D8DEE9"
    cursor_color = "#4F5B66"

  [[Base16 Oceanic Next Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#D8DEE9:#EC5f67:#99C794:#FAC863:#6699CC:#C594C5:#5FB3B3:#C0C5CE:#65737E:#EC5f67:#99C794:#FAC863:#6699CC:#C594C5:#5FB3B3:#1B2B34"
    foreground_color = "#4F5B66"
    background_color = "#D8DEE9"
    cursor_color = "#4F5B66"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Oceanic Next Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
