// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #C0C5CE;
@syntax-cursor-color: #C0C5CE;
@syntax-selection-color: #4F5B66;
@syntax-background-color: #1B2B34;

// Guide colors
@syntax-wrap-guide-color: #65737E;
@syntax-indent-guide-color: #65737E;
@syntax-invisible-character-color: #65737E;

// For find and replace markers
@syntax-result-marker-color: #65737E;
@syntax-result-marker-color-selected: #C0C5CE;

// Gutter colors
@syntax-gutter-text-color: #C0C5CE;
@syntax-gutter-text-color-selected: #C0C5CE;
@syntax-gutter-background-color: #1B2B34;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #6699CC;
@syntax-color-added: #99C794;
@syntax-color-modified: #FAC863;
@syntax-color-removed: #EC5f67;