/*

    Name:       Base16 Oceanic Next Dark
    Author:     Dmitri Voronianski (http://pixelhunter.me)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #1B2B34;}
a {color: #6699CC;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #CDD3DE;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #AB7967;}
div.output_prompt {color: #C594C5;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #4F5B66;
}
div.output_area pre {font-weight: normal; color: #C0C5CE;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #C0C5CE solid;
  color: #C0C5CE;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #C0C5CE;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #C594C5;}
div.text_cell_render, div.output_html {color: #C0C5CE;}

span.ansiblack {color: #343D46;}
span.ansiblue {color: #5FB3B3;}
span.ansigray {color: #A7ADBA;}
span.ansigreen {color: #99C794;}
span.ansipurple {color: #C594C5;}
span.ansired {color: #EC5f67;}
span.ansiyellow {color: #FAC863;}

div.output_stderr {background-color: #EC5f67;}
div.output_stderr pre {color: #CDD3DE;}

.cm-s-ipython.CodeMirror {background: #1B2B34; color: #CDD3DE;}
.cm-s-ipython div.CodeMirror-selected {background: #343D46 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #1B2B34; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #65737E;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #A7ADBA !important;}

.cm-s-ipython span.cm-comment {color: #AB7967;}
.cm-s-ipython span.cm-atom {color: #C594C5;}
.cm-s-ipython span.cm-number {color: #C594C5;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #99C794;}
.cm-s-ipython span.cm-keyword {color: #EC5f67;}
.cm-s-ipython span.cm-string {color: #FAC863;}
.cm-s-ipython span.cm-operator {color: #AB7967;}
.cm-s-ipython span.cm-builtin {color: #C594C5;}

.cm-s-ipython span.cm-variable {color: #99C794;}
.cm-s-ipython span.cm-variable-2 {color: #6699CC;}
.cm-s-ipython span.cm-def {color: #F99157;}
.cm-s-ipython span.cm-error {background: #EC5f67; color: #A7ADBA;}
.cm-s-ipython span.cm-bracket {color: #C0C5CE;}
.cm-s-ipython span.cm-tag {color: #EC5f67;}
.cm-s-ipython span.cm-link {color: #C594C5;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #CDD3DE !important;}
